html{
  height: 100%;
  margin: 0px;
  font-family: Cambria, Georgia, serif;
}

body {
  height: 100%;
  margin: 0px;7_n.jpg?oh=04104a14810bf4a43f64958bb87899f1&oe=57927283");
}


#fakeBody {
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: whitesmoke;
  background-image: url("https://scontent.xx.fbcdn.net/hphotos-xal1/v/t1.0-9/12821453_1049518858452593_8030219924691833477_n.jpg?oh=04104a14810bf4a43f64958bb87899f1&oe=57927283");
}

#logo {
	background-color: transparent;
	border: 0px;
}

.menu {
	width: 95px;
	background-color: white;
	height: 65%;
	border: 2px solid black;
	margin: auto;
	margin-left: 2%;
	margin-right: 2%;
	box-shadow: 4px 4px 2px rgb(220, 220, 220);
}

.logo {
	width: 70%;
	height: 50%;
	border: 2px solid black;
	margin: auto;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 12%;
}

.moMenu {
	border-bottom: solid black 2px;
}

.OverallContent {
	background-color: rgb(242, 242, 242);
}

.pages {
	width: 80%;
	height: 75%;
	margin: auto;
}

.homeinfo {
	padding-top: 15%;
	padding-bottom: 10%;
}

.info {
	width: 80%;
	height: 85%;
	margin: auto;
	max-width: 1100px;
	background-color: white;
}

.projects {
	height: 22%;
	width: 80%;
	margin: auto;
}

.contents {
	background-color: white;
	box-shadow: 10px 10px 5px rgb(220, 220, 220);
	width: 95%;
	min-height: 90%;
	margin: auto;
	max-width: 1400px;
	margin-bottom: 50px;
	border: black solid 3px;
}

.acabackground {
	width: 46%;
	height: 100%;
	display: inline-block;
	margin: auto;
	border: black solid 2px;
	background-color: white;
	box-shadow: 10px 10px 5px rgb(220, 220, 220);
}

.AcaTitles {
	padding-top: 20%;
	height: 105px;
	text-align: center;
	font-weight: bold;
	font-size: 125%;
	margin: auto;
	padding-left: 15px;
	padding-right: 15px;
}

.AcaContents {
	width: 80%;
	margin: auto;
}

hr#style1 {
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
}

hr#style1:after {
    content: "§";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}

@media only screen and (max-device-width: 480px){
	#fakeTop{
		width: 70%;
		height: 150px;
		margin: auto;
		position: relative;
		z-index: 10;
	}
	#extendContent {
		margin-top: 100px;
	}
	#contactText{
		font-size: 120%;
	}
	#isMobile {
		display: block;
	}
	#notMobile {
		display: none;
	}
}

@media only screen and (min-device-width: 480px){
	#fakeTop{
		width: 70%;
		height: 20%;
		max-height: 200px;
		margin: auto;
		position: relative;
		z-index: 10;
	}
	.AcaTitles {
		margin-bottom: 70px;
	}
	.AcaButtons {
		padding-top: 20px;
	}
	.AcaContents {
		height: 380px;
	}
	#contactText{
		font-size: 150%;
	}
	#isMobile {
		display: none;
	}
	#notMobile {
		display: block;
	}
}

.classes {
	height: 20%;
	width: 100%;
	overflow: auto;
}

.AcaButtons {
	width: 100%;
	height: 100%;
	border: 0px;
	background-color: transparent;
	text-align: left;
	font-size: 85%;
	font-weight: bold;
}

.A0, .A1, .A2, .A3, .A4, .A5, .A6, .A7 {
	font-size: 90%;
	width: 90%;
	margin: auto;
	display: none;
}

.linkButtons {
	height: 80%;
	width: 24%;
	display: inline-block;
	margin-top: 8px;
}