 @font-face { 
 	font-family: hermit;
 	src: url('Hermit-light.otf');
}

html{
  height: 100%;
  margin: 0px;
  font-family: hermit, Cambria, Georgia, serif;
}

button {
  font-family: hermit, Cambria, Georgia, serif;
}

div {
  font-family: hermit, Cambria, Georgia, serif;
}

a {
  font-family: hermit, Cambria, Georgia, serif;
  color: #ec008c;
}

a:hover {
	text-decoration: none;
}

body {
  height: 100%;
  margin: 0px;
}

#logo {
	background-color: transparent;
	border: 0px;
}

.clicked {
	color: #27aae1;
	display: none;
}

#headerContent {
	width: 90%;
	height: 80%;
}

.menu {
	background-color: white;
	height: 65%;
	border: 0px;
	margin: auto;
	padding: 0px;
	text-align: center;
}

.logo {
	width: 70%;
	height: 50%;
	margin: auto;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 12%;
}

#fakeBody {
  width: 100%;
  height: 100%;
  margin: auto;
  position: fixed;
  z-index: 5;
  height: 100%;
  background-color: white;
}

#fakeTop{
	width: 70%;
	height: 25%;
	margin: auto;
	position: relative;
	z-index: 10;
	background-color: white;
}

#OverallContent {
	height: 75%;
	margin: auto;
	position: relative;
	z-index: 10;
	padding-bottom: 50px;
	background-color: white;
}

#mainBackground {
  height: 50%;
  padding: 0;
  margin: 0;
  background-image:url(mainbackground.png);
  background-repeat:no-repeat;
  background-position: center center;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

.pages {
	display: none;
	width: 100%;
	height: 100%;
	margin: auto;
}

#homeFill {
	height: 30%;
}

#homeContent {
	font-weight: bold;
	text-align: center;
	display: block;
	margin: auto;
}

#aboutTag {
	text-align: center;
	font-weight: bold;
	display: block;
	margin: auto;
}

#aboutContent {
	width: 80%;
	margin: auto;
	display: none;
}

#aboutButton {
	text-align: center;
	border: 0px;
	background-color: transparent;
}

#downloadTag {
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
	display: none;
	margin: auto;
}

#resume:hover {
	text-decoration: none;
	color: #27aae1;
}

#aboutButton:hover {
	color: #27aae1;
}

#downloadTag:hover {
	color: #27aae1;
}

.projects {
	height: 22%;
	width: 80%;
	margin: auto;
}

hr#style1 {
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
}

hr#style1:after {
    content: "§";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}

.classes {
	height: 24%;
	width: 90%;
	overflow: auto;
}

.AcaButtons {
	width: 100%;
	border: 0px;
	background-color: transparent;
	text-align: left;
	font-weight: bold;
}

.AcaButtons:hover {
	color: #27aae1;
}

.B0, .B1, .B2, .B3 {
	width: 100%;
	padding-bottom: 4%;
}

.A0, .A1, .A2, .A3 {
	padding-bottom: 2%;
	display: none;
	color: #27aae1;
}

.linkButtons {
	height: 20%;
	display: block;
	margin: auto;
	text-align: center;
	font-weight: bold;
}

.links:hover {
	text-decoration: none;
	color: #27aae1;
}

@media (max-width: 320px) {
	#OverallContent {
		width: 95%;
	}
	.AcaButtons {
		font-size: 70%;
	}
	#menu {
		width: 100%;
	}
	.menu {
		font-size: 80%;
	}
	#homeContent {
		height: 15%;
		font-size: 130%;
	}
	#aboutButton {
		color: #27aae1;
	}
	#aboutTag {
		font-size: 110%;
	}
	#resume {
		color: #27aae1;
		font-size: 110%;
	}
	.A0, .A1, .A2, .A3 {
		width: 85%;
		font-size: 45%;
	}
	.classes {
		margin-left: 5%;
	}
	.links {
		color: #27aae1;
		font-size: 100%;
	}
	.links:hover {
		font-size: 120%;
	}
	#mainBackground {
		width: 100%;
	}
	#headerContent {
		box-shadow: 0px 10px 10px -5px #dedcdd;
	}
	#Projects {
		width: 33%;
	}
	#Home {
		width: 25%;
	}
	#Contact {
		width: 33%;
	}
}

@media (min-width: 320px) and (max-width: 481px) {
	#OverallContent {
		width: 95%;
	}
	.AcaButtons {
		font-size: 100%;
	}
	#menu {
		width: 100%;
	}
	.menu {
		font-size: 100%;
	}
	#homeContent {
		height: 10%;
		font-size: 150%;
	}
	#aboutButton {
		color: #27aae1;
	}
	#aboutTag {
		font-size: 120%;
	}
	#resume {
		color: #27aae1;
		font-size: 120%;
	}
	.A0, .A1, .A2, .A3 {
		width: 70%;
		font-size: 70%;
	}
	.classes {
		margin-left: 5%;
	}
	.links {
		color: #27aae1;
		font-size: 100%;
	}
	.links:hover {
		font-size: 120%;
	}
	#mainBackground {
		width: 100%;
	}
	#headerContent {
		box-shadow: 0px 10px 10px -5px #dedcdd;
	}
	#Projects {
		width: 33%;
	}
	#Home {
		width: 25%;
	}
	#Contact {
		width: 33%;
	}
}

@media (min-width: 481px) and (max-width: 641px) {
	#OverallContent {
		width: 80%;
	}
	.AcaButtons {
		font-size: 120%;
	}
	#menu {
		width: 88%;
	}
	.menu {
		font-size: 120%;
	}
	#homeContent {
		height: 10%;
		font-size: 280%;
	}
	#aboutButton {
		color: #27aae1;
	}
	#aboutTag {
		font-size: 210%;
	}
	#resume {
		color: #27aae1;
		font-size: 210%;
	}
	.A0, .A1, .A2, .A3 {
		width: 65%;
		font-size: 90%;
	}
	.classes {
		margin-left: 10%;
	}
	.links {
		color: #27aae1;
		font-size: 170%;
	}
	.links:hover {
		font-size: 190%;
	}
	#mainBackground {
		width: 90%;
	}
	#headerContent {
		box-shadow: 0px 25px 20px -20px #dedcdd;
	}
	#Projects {
		width: 32%;
	}
	#Home {
		width: 24%;
	}
	#Contact {
		width: 32%;
	}
}

@media (min-width: 641px) and (max-width: 961px) {
	#OverallContent {
		width: 80%;
	}
	.AcaButtons {
		font-size: 140%;
	}
	#menu {
		width: 85%;
	}
	.menu {
		font-size: 150%;
	}
	#homeContent {
		height: 15%;
		font-size: 380%;
	}
	#aboutButton {
		color: #27aae1;
	}
	#aboutTag {
		font-size: 230%;
	}
	#resume {
		color: #27aae1;
		font-size: 230%;
	}
	.A0, .A1, .A2, .A3 {
		width: 65%;
		font-size: 100%;
	}
	.classes {
		margin-left: 10%;
	}
	.links {
		color: #27aae1;
		font-size: 170%;
	}
	.links:hover {
		font-size: 190%;
	}
	#mainBackground {
		width: 90%;
	}
	#headerContent {
		box-shadow: 0px 25px 20px -20px #dedcdd;
	}
	#Projects {
		width: 32%;
	}
	#Home {
		width: 23%;
	}
	#Contact {
		width: 32%;
	}
}

@media (min-width: 961px) {
	#OverallContent {
		width: 80%;
	}
	.AcaButtons {
		font-size: 150%;
	}
	#menu {
		width: 58%;
	}
	.menu {
		font-size: 160%;
	}
	#homeContent {
		height: 20%;
		font-size: 500%;
	}
	#aboutButton {
		color: black;
	}
	#aboutTag {
		font-size: 280%;
	}
	#resume {
		color: black;
		font-size: 280%;
	}
	.A0, .A1, .A2, .A3 {
		width: 45%;
		font-size: 100%;
	}
	.classes {
		margin-left: 10%;
	}
	.links {
		color: black;
		font-size: 190%;
	}
	.links:hover {
		font-size: 200%;
	}
	#mainBackground {
		width: 90%;
	}
	#headerContent {
		box-shadow: 0px 25px 20px -20px #dedcdd;
	}
	#Projects {
		width: 35%;
	}
	#Home {
		width: 26%;
	}
	#Contact {
		width: 35%;
	}
}
